<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
                 
<title> Sign-UP </title>
</head>
<body>
  {% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category=='error' %}
  <div class="alert alert-danger">
    <button aria-hidden="true" onclick="this.parentNode.style.display='none';">&times;</button>
    {{message}}
  </div>
  {% else %}

  <div class="alert alert-success">
  <button aria-hidden="true" onclick="this.parentNode.style.display='none';">&times;</button>
    {{message}}
  </div>

  
  {%endif%}
  {%endfor%}

  {% endif %}

  {%endwith%}

  {%block body%}


  